* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}
header {
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
}
header:hover {
    transform: scale(1.2);
}
h1 {
    
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.subtitulos1 {
    width: 28rem; 
    margin: 0.5rem;
}
h3 {
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    background-color: pink;
    margin: 1rem;
    font-size: 1,6rem;
    padding: 0.7rem;
    border-radius: 10px;
    
}
h3:hover{
    transform: scale(1.2);
}
.lista {
    transition: transform 0.5s;
    display: flex;
    background-color: cornflowerblue;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 10px;
    height: auto;
}
.lista:hover {
    transform: scale(1.05);
}
.lista li {
    transition: transform 0.5s;
    margin: 0.3rem;
    background-color: tomato;
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
}
.lista li:hover{
transform: scale(1.2);
}
span {
    margin: 0.3rem;
    background-color: tomato;
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
    height: fit-content;
}